.NE-page {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: padding-left .1s;
    transition: padding-left .1s;
}

    .NE-page:focus {
        outline: none;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
    }

    .NE-page > .container {
        background-color: white;
    }

.NE-page-divider {
    border-top: 0px solid #ccc;
    border-bottom: 0px solid #f2f2f2;
}
