.NE-chapter {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow: visible;
    margin-bottom:60px;
}

.NE-chapter-divider {
    position: absolute;
    height: 60px;
    left: 0px;
    right: 0px;
    bottom: -60px;
    background-color: rgba(0,0,0,0.1);
    border: 1px solid #f2f2f2;
    border-left-width: 0px;
    border-right-width: 0px;
}

/*.NE-chapter-divider:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 0px;
        background-color: white;
        border-bottom: 1px solid #bfbfbf;
    }

    .NE-chapter-divider:after {
        content: '';
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 0px;
        background-color: white;
        border-top: 1px solid #bfbfbf;
    }*/
