.NE-revealer-button {
    -webkit-transition: margin-top 0.3s, padding 0.3s, height 0.3s, background-color 0.2s !important;
    transition: margin-top 0.3s, padding 0.3s, height 0.3s, background-color 0.2s !important;
}

    .NE-revealer-button:after {
        font-family: FontAwesome;
        font-weight: bold;
        content: '\f107';
        margin-left: 15px;
    }

    .NE-revealer-button:hover {
        background-color: #1394a6;
    }

    .NE-revealer-button.open {
    }

        .NE-revealer-button.open:after {
            content: '\f106';
        }

    .NE-revealer-button.active {
        margin-top: 25px;
        padding: 0px 40%;
        height: 0px;
    }
