body {
    background-color: white;
}

button:focus {
    border: none;
    outline: none !important;
}

button:active {
    border: none;
    outline: none !important;
}

#NE-floating-header {
    overflow: hidden;
    -webkit-transition-property: top;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: top;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

    #NE-floating-header.NE-offcanvas {
        height: 80px;
        top: -100px;
    }

    #NE-floating-header .h4 {
        color: rgb(51, 51, 51);
        font-weight: normal;
        padding-top: 1px;
    }


.navigation a:focus {
    outline: none;
}

#NE-chapter-menu {
    position: relative;
    display: block;
    height: 0px;
    overflow: hidden;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    padding: 0px;
    -webkit-transition-property: height;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;
    transition-property: height;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

#NE-chapter-menu-xs {
    padding-bottom: 15px;
}

    #NE-chapter-menu a, #NE-chapter-menu-xs a {
        padding: 20px 12px;
        border-color: #d9d9d9;
        border-bottom-width: 2px;
    }

        #NE-chapter-menu a.disable, #NE-chapter-menu-xs a.disable {
            color: #d9d9d9;
            cursor: default;
        }

        #NE-chapter-menu a:hover {
            background-color: inherit;
        }

#NE-floating-footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    z-index: 10;
    background-color: white;
    border-top: 1px solid #d9d9d9;
}




#NE-main-container {
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 0px;
    margin: auto;
    padding: 0px;
    background-color: white;
    -webkit-transition: top 0.3s ease-in-out;
    transition: top 0.3s ease-in-out;
}


#NE-scroller {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#NE-course-menu {
}

    #NE-course-menu ul {
        margin-left: 0px;
        padding-left: 0px;
    }

    #NE-course-menu li {
        list-style: none;
    }

        #NE-course-menu li:before {
            font-family: FontAwesome;
            content: '\f061';
            margin-right: 10px;
        }

#NE-chapter-container {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 100%;
}

.NE-chapter {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: padding-left 0.3s;
    transition: padding-left 0.3s;
}

    .NE-chapter > .container {
        background-color: white;
    }

.NE-chapter-divider {
    position: relative;
    height: 90px;
    background-color: #d9d9d9;
}

    .NE-chapter-divider:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 20px;
        background-color: white;
        border-bottom: 1px solid #808080;
    }

    .NE-chapter-divider:after {
        content: '';
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 20px;
        background-color: white;
        border-top: 1px solid #808080;
    }

#NE-chapter-0 {
}

#NE-chapter-1 {
}

#NE-chapter-2 {
}

.NE-horizontal-panel {
    position: relative;
    overflow: hidden;
    background-color: #f2f2f2;
    padding-bottom: 50px;
}

    .NE-horizontal-panel .NE-panel-page-holder {
        position: relative;
        display: table;
        width: 200%;
    }

    .NE-horizontal-panel .NE-panel-page {
        display: table-cell;
        width: 50%;
        background-color: #f2f2f2;
        padding: 15px;
    }

        .NE-horizontal-panel .NE-panel-page .NE-panel-content {
            background-color: white;
            padding: 20px;
            margin: 15px;
            border: 1px solid #bfbfbf;
        }

    .NE-horizontal-panel .NE-horizontal-panel-nav {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 50px;
        opacity: 0.5;
        -webkit-transition: opacity .1s ease-in;
        transition: opacity .1s ease-in;
    }

        .NE-horizontal-panel .NE-horizontal-panel-nav:hover {
            opacity: 1;
        }

        .NE-horizontal-panel .NE-horizontal-panel-nav .NE-nav-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: white;
        }


.NE-revealer {
    display: inline-block;
    font-size: 2em;
    width: 100%;
    height: 45px;
    text-align: center;
}

.NE-revealer-link {
    font-size: 0px;
    text-decoration: none;
}

.NE-revealer-button {
    display: inline-block;
    width: 100px;
    height: 45px;
    margin: 0px;
    line-height: 45px;
    background-color: rgb(0, 200, 220);
    font-family: FontAwesome;
    font-size: 40px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: margin-top 0.3s, width 0.3s, height 0.3s;
    transition: margin-top 0.3s, width 0.3s, height 0.3s;
}

    .NE-revealer-button.active {
        margin-top: 20px;
        width: 75%;
        height: 0px;
    }

        .NE-revealer-button.active .NE-revealer-icon:after {
            content: '';
        }


.NE-revealer-icon {
    display: inline-block;
}

    .NE-revealer-icon:after {
        content: '\f107';
        font-style: normal;
    }

.NE-revealer-button.open .NE-revealer-icon:after {
    content: '\f106';
}

.NE-navigation-button {
    width: 40px;
    height: 40px;
    padding: 0px;
    border-width: 0px;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    line-height: 40px;
    -webkit-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
}

    .NE-navigation-button.disable {
        background-color: #d9d9d9;
    }

@media (min-width: 767px) {

    #NE-close-button {
        position: relative;
        top: 0px;
        width: 40px;
        height: 40px;
        padding: 0px;
        border-width: 0px;
        border-radius: 20px;
        overflow: hidden;
        text-align: center;
        line-height: 40px;
        -webkit-transition: width .3s ease-out, margin-right .3s ease-out;
        transition: width .3s ease-out, margin-right .3s ease-out;
    }

        #NE-close-button.NE-offcanvas {
            margin-right: 20px;
            width: 0px;
        }


            #NE-close-button.NE-offcanvas:before {
                content: '';
                color: #18bdd4;
            }

        #NE-close-button:before {
            font-family: "FontAwesome";
            content: '\f00d';
            position: absolute;
            left: 0px;
            top: 0px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 20px;
            background-color: inherit;
            -webkit-transition: left .3s ease-out, color .4s ease-out;
            transition: left .3s ease-out, color .4s ease-out;
            color: white;
        }



        #NE-close-button:hover:before {
            left: -40px;
            color: #1394a6;
            -webkit-transition: left .3s ease-out, color .1s ease-out;
            transition: left .3s ease-out, color .1s ease-out;
        }

        #NE-close-button:hover {
            width: 120px;
        }
}
