body {
    background-color: rgb(0, 200, 220);
}

#NE-floating-footer {
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0px;
    background-color: #ffd800;
    z-index: 10;
}

#NE-main-container {
    position: absolute;
    width: 100%;
    top: 80px;
    bottom: 40px;
    margin: auto;
    padding: 0px;
    overflow: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#NE-intro-container {
    position: fixed;
    width: 100%;
    min-height: 100%;
    background-color: #808080;
    z-index: -1;
}

#NE-chapter-container {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    min-width: 100%;
}

#NE-chapter-0 {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: none;
    background-color: white;
}

#NE-chapter-1 {
    position: relative;
    background-color: white;
    width: 100%;
    height: 300%;
    min-height: 100%;
    display: none;
    background-color: silver;
}

#NE-chapter-2 {
    position: relative;
    background-color: white;
    width: 100%;
    height: 300%;
    min-height: 100%;
    display: none;
    background-color: gray;
}


#NE-page-indicator {
    position: absolute;
    padding: 0px;
    margin: 0px;
    width: 50px;
    height: 50px;
    top: 15px;
    right: 30px;
    background-color: rgb(0, 200, 220);
    border: 0px solid rgb(255, 255, 255);
    font-size: 1.6em;
    line-height: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    z-index: 1031;
}
