
@media (max-width: 768px) {

    .NE-chapterlink-collection {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

        .NE-chapterlink-collection .list-group-item:last-child {
            border-bottom: 1px solid #ccc !important;
        }

        .NE-chapterlink-collection .list-group-item.last-item {
            border-bottom-width: 0px !important;
        }

        .NE-chapterlink-collection.last-item {
            padding-bottom: 30px;
        }
}
