#NE-top {
    position: absolute;
    top: -83px;
    width: 100%;
}

    #NE-top .h4 {
        color: #808080;
        font-weight: normal;
        padding-top: 1px;
    }

.navigation a:focus {
    outline: none;
}

.navigation .navbar-btn {
    margin-top: 21.5px;
    margin-bottom: 21.5px;
    margin-left: 0px;
    margin-right: 6px;
}

.NE-navbar-distance {
    border: 6px solid transparent;
    height: 60px;
}

#NE-top-chapter-navigation {
    position: relative;
    display: block;
    height: 0px;
    max-height: 400px;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    -webkit-transition: height 0.2s ease-in, border-top 0.2s ease-in;
    transition: height 0.2s ease-in, border-top 0.2s ease-in;
    border-top: 1px outset #fff;
}

    #NE-top-chapter-navigation.open {
        border-top: 1px outset #d9d9d9;
    }

.NE-top-chapterlink.disable {
    color: #c0c0c0 !important;
}

.NE-top-chapterlink:hover.disable {
    border-left: none !important;
    padding-left: 0px !important;
    background-color: transparent !important;
    cursor: default;
}

#NE-top-chapterlinks a.disable {
    color: #d9d9d9;
    cursor: default;
}

#NE-top-chapterlinks a:hover {
    background-color: inherit;
}

#NE-top-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1029;
    display: none;
}
