body {
    background-color: white;
}

.offering-header-text {
    margin-top: 0px;
}

.navigation .navbar-collapse {
    max-height: 500px;
}

button:focus {
    border: none;
    outline: none !important;
}

button:active {
    border: none;
    outline: none !important;
}


#NE-floating-footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    z-index: 10;
    background-color: white;
    border-top: 1px solid #d9d9d9;
}

#NE-main-container {
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 0px;
    margin: auto;
    padding: 0px;
    background-color: white;
    /*-webkit-transition: top 0.3s ease-in-out;
    transition: top 0.3s ease-in-out;*/
}


#NE-scroller {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#NE-chapter-container {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 100%;
}

#NE-scroll-hint {
    position: fixed;
    bottom: 20px;
    right: 0px;
    left: 0px;
    margin: auto;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.65);
    font-size: 60px;
    color: white;
    opacity: 0;
}


    #NE-scroll-hint.animBottom {
        -webkit-transition: bottom 2s ease-in-out, opacity 0.8s ease-in-out;
        transition: bottom 2s ease-in-out, opacity 0.8s ease-in-out;
        bottom: 100px;
    }

    #NE-scroll-hint.fadeIn {
        opacity: 0.8;
    }

    #NE-scroll-hint.fadeOut {
        opacity: 0;
    }
