#cali-app[data-context-id="67b02d1c-0df4-447c-b992-e02cea22b8fd"] footer, #cali-app[data-context-id="930af047-bfd4-4854-b99a-371299e737d2"] footer {
    display: none;
}

#cng-start-page-background {
    background: url(images/0_CourseIntro_2018_06_rt_cng_2319.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    padding-left: 100px;
    height: 100%;
    overflow: auto;
}

#cng-start-page-background-half {
    background: url(images/0_CourseIntro_2018_06_rt_cng_2319.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    height: 100%;
    overflow: auto;
}

#cng-alternative-background {
    background: url(images/2_AlternativeFuels_Intro-iStock491712724.png) no-repeat center;
    background-size: cover;
    position: relative;
    padding-left: 100px;
    height: 100%;
    overflow: auto;
}

#cng-alternative-background-half {
    background: url(images/2_AlternativeFuels_Intro-iStock491712724.png) no-repeat center;
    background-size: cover;
    position: relative;
    height: 100%;
    overflow: auto;
}

#cng-our-cng-offer-background {
    background: url(images/2_AlternativeFuels_Intro-iStock491712724.png) no-repeat center;
    background-size: cover;
    position: relative;
    padding-left: 100px;
    height: 100%;
    overflow: auto;
}

#cng-our-cng-offer-background-half {
    background: url(images/2_AlternativeFuels_Intro-iStock491712724.png) no-repeat center;
    background-size: cover;
    position: relative;
    height: 100%;
    overflow: auto;
}

#cng-our-cng-offer-truck-background {
    background: url(images/2_AlternativeFuels_Intro-iStock491712724.png) no-repeat center;
    background-size: cover;
    position: relative;
    padding-left: 100px;
    height: 100%;
    overflow: auto;
}

#cng-our-cng-offer-truck-background-half {
    background: url(images/2_AlternativeFuels_Intro-iStock491712724.png) no-repeat center;
    background-size: cover;
    position: relative;
    height: 100%;
    overflow: auto;
}

#cng-the-cng-market-background {
    background: url(images/2_AlternativeFuels_Intro-iStock491712724.png) no-repeat center;
    background-size: cover;
    position: relative;
    padding-left: 100px;
    height: 100%;
    overflow: auto;
}

#cng-the-cng-market-background-half {
    background: url(images/2_AlternativeFuels_Intro-iStock491712724.png) no-repeat center;
    background-size: cover;
    position: relative;
    height: 100%;
    overflow: auto;
}

#cng-convince-your-customer-background {
    background: url(images/2_AlternativeFuels_Intro-iStock491712724.png) no-repeat center;
    background-size: cover;
    position: relative;
    padding-left: 100px;
    height: 100%;
    overflow: auto;
}

#cng-convince-your-customer-background-half {
    background: url(images/2_AlternativeFuels_Intro-iStock491712724.png) no-repeat center;
    background-size: cover;
    position: relative;
    height: 100%;
    overflow: auto;
}

#cng-summary-background {
    background: url(images/2_AlternativeFuels_Intro-iStock491712724.png) no-repeat center;
    background-size: cover;
    position: relative;
    padding-left: 100px;
    height: 100%;
    overflow: auto;
}

#cng-summary-background-half {
    background: url(images/2_AlternativeFuels_Intro-iStock491712724.png) no-repeat center;
    background-size: cover;
    position: relative;
    height: 100%;
    overflow: auto;
}

